version: "3.9"

services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"
    networks:
      - app-net

  app:

    image: ai-bot

    container_name: ai-bot
    env_file:
      - .env      # вот эта строка — ключевая
    depends_on:
      - redis
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
