services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis-data:/data
      - ./redis.conf:/redis-stack.conf   # подключаем локальный конфиг
    networks:
      - app-net
    command: ["redis-stack-server", "/redis-stack.conf"]  # запускаем Redis с конфигом

  app:
    build: .
    container_name: ai-bot
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  redis-data: